<% content_for :title, "New habit entry" %>

<h1>New habit entry</h1>

<%= render "form", habit_entry: @habit_entry %>

<br>

<div>
  <%= link_to "Back to habit entries", habit_entries_path %>
</div>
