.button {
  width: fit-content;
  padding: calc(var(--spacing-unit) * 1.5) calc(var(--spacing-unit) * 3);
  border: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-unit);

  background-color: var(--color-slate-bg);
  color: var(--color-slate-text);
  font-weight: var(--font-weight-normal);
  border-radius: calc(var(--spacing-unit) * 0.5);
  cursor: pointer;
  text-decoration: none;
  transition: var(--transition-bg);
}

.button:hover {
  background-color: var(--color-slate-bg-hover);
}
