.notice {
  border-radius: calc(var(--spacing-unit) * 0.5);
  padding: var(--spacing-unit) calc(var(--spacing-unit) * 8);
  margin-bottom: calc(var(--spacing-unit) * 4);
}

.notice--error {
  background-color: var(--color-red-bg);
  color: var(--color-red-text);
}

.notice--success {
  background-color: var(--color-green-bg);
  color: var(--color-green-text);
}

.notice--warning {
  background-color: var(--color-yellow-bg);
  color: var(--color-yellow-text);
}

.notice--neutral {
  background-color: var(--color-slate-bg);
  color: var(--color-slate-text);
}

.notice__container {
  display: flex;
  align-items: center;
}

.notice__icon {
  display: flex;
  align-content: center;
  justify-content: center;
}

.notice__icon svg {
  min-height: calc(var(--spacing-unit) * 3);
  min-width: calc(var(--spacing-unit) * 3);
}

.notice__content {
  margin-left: calc(var(--spacing-unit) * 1.5);
}

.notice__title {
  font-size: calc(var(--spacing-unit) * 2);
  font-weight: var(--font-weight-medium);
}
