<% content_for :title, "Editing habit" %>

<h1>Editing habit</h1>

<div class="habits__linkGroup">
  <%= link_to "Show this habit", @habit %> |
  <%= link_to "Back to habits", habits_path %>
</div>

<%= render "form", habit: @habit %>


