<% content_for :title, "Habits" %>

<h1 class="habits__title">Traction</h1>

<% if notice.present? %>
  <%= render "shared/notice", status: "success", title: notice %>
<% end %>

<div class="habits__habits">
  <% @habits.each do |habit| %>
    <%= render habit %>
  <% end %>
</div>

<%= link_to new_habit_path, class: "button" do %>
  <%= heroicon "plus" %>
  Add Habit
<% end %>
