<p style="color: green"><%= notice %></p>

<% content_for :title, "Habits" %>

<h1 class="text-4xl font-bold tracking-tight mb-12 text-center">Traction</h1>

<div class="mb-12">
  <% @habits.each do |habit| %>
    <%= render habit %>
  <% end %>
</div>

<div class="flex justify-center">
  <%= link_to new_habit_path, class: "inline-flex items-center gap-2 px-4 py-2 bg-slate-100 text-slate-500 rounded-lg hover:bg-slate-200 transition-colors" do %>
    <%= heroicon "plus", type: :outline, class: "w-5 h-5" %>
    <span>Add Habit</span>
  <% end %>
</div>
